BACKUP_CRON_EXPRESSION=0 2 * * *
BACKUP_RETENTION_DAYS=7
BACKUP_FILENAME=backup-%Y-%m-%dT%H-%M-%S.tar.gz

BACKUP_ARCHIVE=/archive

SSH_HOST=your-subaccount.your-storagebox.de
SSH_PORT=23
SSH_USER=your-subaccount
SSH_REMOTE_PATH=/home/backups/
SSH_IDENTITY_FILE_PATH=/run/secrets/backup-ssh-key
